{% include 'E/base.html' %} {% block 'content' %}


<!-- about us detailes creation papge -->
<hr>

<div class="aboutus" id="aboutus">

    <div class="container shadow-md ">
        <h3 class="text-primary">About Us</h3>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <p class="text-md-start">ElliottCrew Consultancy since its inception, always strives to place the right candidate at the right position. Our professionals of recruitment consultants stationed at India & serve its esteemed Clients in India, UK, UAE, Malaysia &
                    Qatar. Our placement consultants in India are constantly expanding our base in other probable destinations as well</p>


                <h3 style="color:rgb(75, 72, 72);">Why Us</h3>
                <ol>
                    <li>A promise to send suitable talents to help your organization grow.</li>
                    <li>A commitment to providing the highest quality service by providing proper candidate.</li>
                </ol>
            </div>

            <div class="col-sm-4 green">

                <figure>

                    <blockquote class="blockquote">
                        <br>
                        <br>
                        <p class="text-white text-lg-center fa-1x">PROVIDING PROPER <br> TALENT <br>TO <br>HELP IN GROWING
                            <br> YOUR ORGANIZATION IN<br> RIGHT <br> MANNER.</p>
                    </blockquote>
                    <br>

                    <!-- <figcaption class="blockquote-footer">
                                <small title="Source Title" class="abishek"></small>
                            </figcaption> -->
                </figure>
            </div>

            <div class="col-sm-4">
                <h4 class="greens">The Services</h4>
                <br>
                <br>

                <h4 class="text-center" style="color: rgb(240, 191, 68);">OUR VISION</h4>
                <p>Make sure you get the proper opportunities to get the right candidate that your organization takes pride in.</p>
                <h4 class="text-center" style="color: rgb(240, 191, 68);">OUR FACULTY</h4>
                <p>Our teams are working dedicatedly in order search for the right talent. They are organizing every single needs for talent search of your organization to serve bes</p>
            </div>
        </div>
    </div>
</div>

<!-- about us ending part -->

</main>






{% endblock %}

</body>

</html>