<!-- {% block content %}

<footer>
    <div class="container">
        <br>
        <div class="row bg-dark">



            <div class="col">
                <center>
                    <ol class="foot-one">
                        <h5 class="text-white">CONTACT</h5>
                        <a href="" class="text-white  font-3"> 423, Laskarhat,</a><br>
                        <a href="" class="text-white  font-3">Near Hotel Sheldon,</a><br>
                        <a href="" class="text-white  font-3">Kolkata,</a><br>
                        <a href="" class="text-white  font-3"> West Bengal 700039</a><br>
                        <a href="" class="text-white  font-3"> India</a><br>



                    </ol>
            </div>
            </center>

        </div>
    </div>




</footer>

{% endblock %} -->