<!-- header part  main nav bar links create-->
<div class="top-side">
    <div class="container">
        <a href="" target="_blank"><i
      class="fas fa-envelope-square">&nbsp;career@elliotterecuterconsultancy.com</i></a>&nbsp;
        <a href="" target="_blank"><i class="fas fa-phone-square-alt">&nbsp; (033) 46059773</i></a>
    </div>

    <div class="top-left-sde">
        <a href="https://www.facebook.com/pg/elliottcrew.org/reviews/?ref=page_internal" target="_blank"> <i class="fab fa-facebook-square"></i></a>
        <a href="https://twitter.com/careerelliottc1" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/elliottcrew-consultancy-b9086b224" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
</div>



<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">ElliottCrew Consultancy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="{% url 'home' %}">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white mx-1" href="{% url  'aboutus' %}">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-white mx-1" href="{%  url 'payfor' %}">PAYROLLOFFER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-white mx-1" href="{% url 'contactus' %}">CONTACT US</a>
                </li>
            </ul>
        </div>
    </div>
</nav>